@font-face {
    font-family: "Montserrat 300";
    src: url("../fonts/static/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat 400";
    src: url("../fonts/static/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat 700";
    src: url("../fonts/static/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}


.container {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-size: cover;
    position: fixed;
    overflow: auto;
    background-repeat: no-repeat;

}

.top-menu {
    display: flex;
    background: rgba(94, 93, 88, 0.6);
}

.forcenter {
    display: flex;
    margin: auto;
}

.top-menu a {
    text-decoration: none;
}

.hexagon {
    background-image: url("../img/Polygon 1 1.png");
    background-repeat: no-repeat;
    border-size: cover;
    font-size: 40px;
    height: 67px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat 700";
    color: white;
    margin-left: auto;
}

.link {
    font-family: "Montserrat 400";
    font-size: 32px;
    margin: auto 0 auto 6px;
    color: white;
}

.greenham {
    color: rgb(24 207 171);
    font-family: "Montserrat 700";
}

.menu {
    font-family: "Montserrat 700";
    display: flex;
    margin-left: 305px;
}

.menu ul {
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.menu li a {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 21px;
}

.menu li:hover a {
    color: rgb(24 207 171);
    border-bottom: 2px solid rgb(24 207 171);
    padding-bottom: 22px;
}

.icon {
    display: flex;
    align-items: center;
}

.header {
    font-family: "Montserrat 700";
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.middle-header {
    font-size: 35px;
    margin-top: 264px;
}
.big-header {
    font-size: 78px;
    margin-top: 22px;
}
.header-small {
    font-family: "Montserrat 300";
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 22px;
}

.links-wrap {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 134px;
    text-align: center;
}

.links-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 63px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border-style: none;
    font-family: "Montserrat 700";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.button-explore {
    background-color: rgb(24 207 171);
}

.button-purchase {
    background-color: rgb(0 203 246);
}

/* Information-blocks */

.information-blocks {
    margin-top: 240px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.information-blocks>div {
    padding-top: 100px;
    text-align: center;
}

.dark-theme {
    background-color: rgba(28, 42, 51, 1);
}
.dark-theme p {
    color: rgba(24, 207, 171, 1);
}
.white-theme {
    background-color: rgba(24, 207, 171, 1);
}
.white-theme p {
    color: white;
    padding-top: 20px;
}

.information-blocks-text {
    font-family: "Montserrat 700";
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 47px;
    margin-bottom: 110px;
}

/*Our services*/

.our-services {
    background: white;
}

.our-services-container {
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.our-services-header {
    font-family: "Montserrat 400";
    font-size: 36px;
    color: rgba(78, 78, 78, 1);
    text-align: center;
    padding-top: 95px;
}

.our-services-menu {
    font-family: "Montserrat 400";
    font-size: 14px;
    margin-top: 90px;
}

.our-services-menu ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    text-decoration: none;
}

.our-services-menu li {
    border: 1px solid rgba(218, 218, 218, 1);
    background: rgba(248, 252, 254, 1);
}

.our-services-menu li a {
    text-decoration: none;
    color: rgba(113, 113, 113, 1);
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.our-services-menu li:hover a {
    color: rgb(24 207 171);
    text-decoration: none;
}

.our-services-menu li:hover {
    border: 1px solid rgba(24, 207, 171, 1);
}

.our-services-information {
    display: flex;
    margin-top: 25px;
}

.our-services-text {
    font-family: "Montserrat 300";
    font-size: 14px;
    line-height: 24px;
    margin-left: 15px;
}


/*Ready*/

.ready {
    background-image: url("../img/Sections background/section-2.jpg");
    background-position: center center;
}

.ready-overlay {
    background-color: rgba(00, 00, 00, 0.8);
    width: 100%;
    padding-bottom: 127px;
}

.ready-header {
    font-family: "Montserrat 700";
    font-size: 40px;
    color: rgb(24 207 171);
    text-transform: uppercase;
    text-align: center;
    padding-top: 126px;
}

.ready-small-header {
    font-family: "Montserrat 400";
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 13px;
}

.ready-button-purchase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 63px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border-style: none;
    font-family: "Montserrat 700";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(24 207 171);
    margin: 67px auto 0 auto;
}

/* Our Amazing Work */

.our-amazing-work {
    background: rgba(233, 237, 239, 1);
}

.amazing-work-container {
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.amazing-work-header {
    font-family: "Montserrat 400";
    font-size: 36px;
    color: rgba(78, 78, 78, 1);
    text-align: center;
    padding-top: 95px;
}

.amazing-work-menu {
    font-family: "Montserrat 400";
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.amazing-work-menu ul {
    display: flex;
}

.amazing-work-menu a {
    border: 1px solid rgba(218, 218, 218, 1);
    padding: 22px 15px;
    text-decoration: none;
    color: rgba(113, 113, 113, 1);
}

.amazing-work-menu a:first-child {
    padding: 22px 27px;
}

.amazing-work-menu li:hover a {
    color: rgb(24 207 171);
    border: 1px solid rgb(24 207 171);
}

.amazing-work-content {
    margin-top: 90px;
}

.our-amazing-work-button-load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 63px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border-style: none;
    font-family: "Montserrat 700";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(24 207 171);
    margin: 67px auto 0 auto;
}

.plus {
    font-size: 30px;
    margin-right: 15px;
}


/* Breaking news */

.breaking-news {
    background-color: white;
    padding-bottom: 130px;
}

.news-container {
    max-width: 1160px;
    margin: 0 auto;
}

.news-header {
    font-family: "Montserrat 400";
    font-size: 36px;
    color: rgb(78 78 78);
    text-align: center;
    padding-top: 82px;
}

.lines {
    border-top: 2px solid rgb(24 207 171);
    width: 79px;
    margin: 24px auto 0 auto;
    position: relative;
}

.lines::after {
    position: absolute;
    left: 14px;
    display: block;
    content: "";
    height: 4px;
    width: 79px;
    border-top: 2px solid rgb(24 207 171);
    margin-top: 4px;
}

.news-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;

}

.photo-block {
    max-width: min-content;
    position: relative;
}

.photo-block-square {
    position: absolute;
    display: grid;
    right: 0;
    background: rgba(32, 62, 56, 1);
    color: white;
    font-family: "Montserrat 400";
    font-size: 16px;
    width: 70px;
    height: 70px;
}

.square-text {
    margin-top: 13px;
    text-align: center;
}
.square-text>span {
    display: block;
    margin-top: 9px;
}

.photo-block a {
    text-decoration: none;
    color: rgba(113, 113, 113, 1);

}

.photo-block-header {
    font-family: "Montserrat 700";
    font-size: 18px;
    padding-top: 10px;
    padding-left: 15px;
}

.information {
    display: flex;
    font-family: "Montserrat 300";
    font-size: 14px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}


.information span::before {
    content: "";
    border-right: 1px solid rgba(119, 119, 119, 1);
    margin-right: 10px;
    margin-left: 10px;
}

.comment {
    display: inline-block;
    box-sizing: border-box;
    font-family: "Montserrat 300";
    font-size: 14px;
}

.photo-block:hover .photo-block-square {
    background-color: rgb(24 207 171);
}
.photo-block:hover .photo-block-header {
    color: rgb(24 207 171);
}


/* What People Say About theHam */

.what-people-say {
    background: url("../img/Layer 333.png");
}

.what-people-say-container {
    max-width: 1160px;
    margin: 0 auto;
}

.what-people-say-header {
    font-family: "Montserrat 400";
    font-size: 36px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.what-people-say-text {
    font-family: "Montserrat 300";
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-top: 36px;
    padding-bottom: 490px;
}

.fa-solid.fa-quote-left {
    color: rgb(24 207 171);
    font-size: 33px;
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

/* Footer */

.copyright {
    font-family: "Montserrat 300";
    font-size: 14px;
    background: rgba(34, 53, 63, 1);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(174 174 174);
}

.green-copyright {
    color: rgb(24 207 171);
}

.green-copyright::after {
    content: "";
    border-right: 1px solid rgb(174 174 174);
    margin-left: 6px;
    margin-right: 6px;
    font-size: 10px;
}







