@font-face {
    font-family: "Montserrat 300";
    src: url("../fonts/static/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat 400";
    src: url("../fonts/static/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat 700";
    src: url("../fonts/static/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}


.container {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-size: cover;
    position: fixed;
    overflow: auto;
    background-repeat: no-repeat;

}

.top-menu {
    display: flex;
    background: rgba(94, 93, 88, 0.6);
}

.forcenter {
    display: flex;
    margin: auto;
}

.top-menu a {
    text-decoration: none;
}

.hexagon {
    background-image: url("../img/Polygon 1 1.png");
    background-repeat: no-repeat;
    border-size: cover;
    font-size: 40px;
    height: 67px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat 700";
    color: white;
    margin-left: auto;
}

.link {
    font-family: "Montserrat 400";
    font-size: 32px;
    margin: auto 0 auto 6px;
    color: white;
}

.greenham {
    color: rgb(24 207 171);
    font-family: "Montserrat 700";
}

.menu {
    font-family: "Montserrat 700";
    display: flex;
    margin-left: 305px;
}

.menu ul {
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.menu li a {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 21px;
}

.menu li:hover a {
    color: rgb(24 207 171);
    border-bottom: 2px solid rgb(24 207 171);
    padding-bottom: 22px;
}

.icon {
    display: flex;
    align-items: center;
}

.header {
    font-family: "Montserrat 700";
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.middle-header {
    font-size: 35px;
    margin-top: 264px;
}
.big-header {
    font-size: 78px;
    margin-top: 22px;
}
.header-small {
    font-family: "Montserrat 300";
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 22px;
}

.links-wrap {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 134px;
    text-align: center;
}

.links-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 63px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border-style: none;
    font-family: "Montserrat 700";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.button-explore {
    background-color: rgb(24 207 171);
}

.button-purchase {
    background-color: rgb(0 203 246);
}

/*Ready*/
.ready {
    background-image: url("../img/Sections background/section-2.jpg");

    background-position: center center;
}

.ready-overlay {
    background-color: rgba(00, 00, 00, 0.8);
    width: 100%;
    padding-bottom: 127px;
}

.ready-header {
    font-family: "Montserrat 700";
    font-size: 40px;
    color: rgb(24 207 171);
    text-transform: uppercase;
    text-align: center;
    padding-top: 126px;
}

.ready-small-header {
    font-family: "Montserrat 400";
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 13px;
}

.ready-button-purchase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 63px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border-style: none;
    font-family: "Montserrat 700";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(24 207 171);
    margin: 67px auto 0 auto;
}

.breaking-news {
    background-color: white;
}

.news-container {
    max-width: 1160px;
    margin: 0 auto;
}

.news-header {
    font-family: "Montserrat 400";
    font-size: 36px;
    color: rgb(78 78 78);
    text-align: center;
    margin-top: 82px;
}

/*.news-header::after {
    height: 4px;
    display: block;
    content: "";
    width: 79px;
    border-top: 4px solid rgb(24 207 171);
    border-bottom: 4px solid rgb(24 207 171);
    margin: 24px auto 0 auto;
}*/

.lines {
    border-top: 3px solid rgb(24 207 171);
    width: 79px;
    margin: 24px auto 0 auto;
    position: relative;
}
.lines::after {
    position: absolute;
    left: 14px;
    display: block;
    content: "";
    height: 4px;
    width: 79px;
    border-top: 3px solid rgb(24 207 171);
    margin-top: 4px;
}

.photo-block {
    border: 1px solid red;
    width: min-content;
    position: relative;
}

.photo-block-square {
    position: absolute;
    right: auto;
    background: rgba(32, 62, 56, 1);
    color: white;
    font-family: "Montserrat 400";
    font-size: 16px;
    width: 70px;
    height: 70px;

}

.photo-block a {
    text-decoration: none;
    color: rgba(113, 113, 113, 1);

}

.photo-block-header {
    font-family: "Montserrat 700";
    font-size: 18px;
    padding-top: 10px;
    padding-left: 15px;
}

.information {
    display: flex;
    font-family: "Montserrat 300";
    font-size: 14px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}


.photo-block span::before {
    content: "";
    border-right: 1px solid rgba(119, 119, 119, 1);
    margin-right: 10px;
    margin-left: 10px;
}

.comment {
    display: inline-block;
    box-sizing: border-box;
    font-family: "Montserrat 300";
    font-size: 14px;
    /*padding: 20px 78px 20px 10px;*/
}




